// app global css in SCSS form
.lovers-quarrel-regular {
  font-family: 'Lovers Quarrel', cursive;
  font-weight: 400;
  font-style: normal;
}

.la-belle-aurore-regular {
  font-family: 'La Belle Aurore', cursive;
  font-weight: 400;
  font-style: normal;
}

.victor-mono {
  font-family: 'Victor Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.border-red {
  border: 1px red solid;
}

.border-green {
  border: 1px $primary solid;
}

.border-pink {
  border: 1px pink solid;
}

.bg-transparent {
  background-color: transparent;
}

.bg-page {
  background-color: #f7f3e8;
}
